- if !@my_user.nil?
	.main-content
		.row
			.col-sm-10.col-sm-offset-1
				.login-container
					.center
						%h1
							%i.icon-certificate.white
								%span.white
									Kudoz.io
					.space-6

					.position-relative
						.login-box.visible.widget-box.no-border
							.widget-body
								.widget-main
									%h4.header.green.lighter.bigger
										%i.icon-user.blue
										Initialize your profile
									.center
										Before moving forward, we need you to enter your e-mail address.
									.space-6
									= form_for @my_user, url(:user, :initial_email_update, :team_id => @my_user.id), :method => :put, :id => "init-email-form" do |f|
										%fieldset
											%label.block.clearfix
												%span.block.input-icon.input-icon-right
													= f.text_field :email, :class => "form-control"
													%i.icon-envelope
											.space-24
											.clearfix
												= f.submit :value => "Next >", :class => "width-65 pull-right btn btn-sm btn-success"